.fc-media-screen {
    background-color: #f5f5f5;
    height: 100%;
}

.fc-header-toolbar {
    height: 10%;
}

.fc-toolbar-title {
    font-size: 1.3rem !important;
    font-weight: 700;
    white-space: nowrap;
}

.fc-col-header-cell-cushion {
    background-color: #277A1D;
    color: white;
}

.fc .fc-daygrid-day {
    background-color: #f5f5f5;
}

.fc-toolbar-title {
    color: #21301a;
}

.fc-button-primary {
    background-color: rgb(3, 99, 3) !important;
    border: none !important;
    color: white !important;
}
  
.fc-day-today {
    background-color: #dce5d5 !important;
}

.fc-event {
    background-color: #0a8193 !important; /* Rouge vif */
    color: white !important;
    border-radius: 5px;
    padding: 5px;
    z-index: 50;
}

.fc-bg-event {
    background-color: #0a8193;
}

.fc-view-harness.fc-view-harness-active {
    height: auto !important;
    max-height: 90% !important;
}



@media (max-width: 1000px) {
    .fc-toolbar-title {
        font-size: 1.1rem !important; /* Augmente la taille du texte quand l'écran est ≥ 1000px */
    }
}