.shadow {
    height: 100px;
    width: 300px;
    transform: translateX(50%);
    right: 30%;
    background-color: rgba(0, 0, 0, 0.181);
    border-radius: 78% 17% 71% 17% / 82% 15% 77% 9%;
    filter: blur(10px);
    z-index: 0;
}
